body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
}
.container {
    max-width: 1000px;
}
.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 40%;
    border: 2px solid white;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}
.section {
    padding: 20px;
    border-radius:10px;
    margin-bottom: 20px;
    box-shadow: 0px  4px 8px rgba(0, 0, 0, 0.1);
}
.info-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.info-section > div {
    flex: 5;
    padding: 10px;
}


.bg-primary-gradient {
    background: linear-gradient(135deg, #007bff, #0056b3);
}
.bg-success-gradient {
    background: linear-gradient(135deg, #28a745, #1e7e34);
}
.bg-warning-gradient {
    background: linear-gradient(135deg, #ffc107, #d39e00);
}
.bg-info-gradient {
    background: linear-gradient(135deg, #17a2b8, #117a8b);
}
.text-white h5 {
    font-weight: 700;
}
