
/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

body {
    background-image: url('bg.jpg'); /* Make sure the path is correct */
    background-size: cover;
    background-position: center;
}
.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 40%;
    border: 2px solid white;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
    
}

.cv-container {
    background-color: #cc9f9f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.cl-container {
    background-color: #d0ee4da4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.cv-container:hover {
    transform: translateY(-10px);
}
.cl-container:hover {
    transform: translateY(-10px);
}

h1.name {
    font-size: 32px;
    color: #e74c3c; /* Vibrant Red */
    margin-bottom: 10px;
}

p.title {
    font-size: 18px;
    color: #8e44ad; /* Vibrant Purple */
    margin-bottom: 20px;
}

.contact p {
    margin: 5px 0;
    font-size: 14px;
    color: #34495e;
}

h2 {
    font-size: 24px;
    color: #3498db; /* Vibrant Blue */
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3E%3Cpath fill="%23e74c3c" d="M5.293 9.293l1.414-1.414L8 10.586l1.293-1.707 1.414 1.414L8 13.414l-3.707-3.707z"%3E%3C/path%3E%3C/svg%3E') no-repeat left center;
    padding-left: 20px;
    margin: 5px 0;
    color: #2c3e50;
}

.job h3 {
    font-size: 20px;
    color: #16a085; /* Vibrant Green */
}

.job p {
    color: #7f8c8d;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .cv-container {
        width: 100%; /* Take full width on smaller screens */
    }
}
